version: '3'

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"

  backend:
    image: mean-backend
    container_name: backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/testdb

  frontend:
    image: mean-frontend
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
